body{
    font-family: sans-serif, Arial, Helvetica; 
    background-color: #100C08;
    color: #F8F8FF;
    box-sizing: border-box;
    margin:0;
    height: 100vh;

}

/* HEADER */
.header{
    background: rgba(83, 81, 81, 0.4);
    backdrop-filter: blur(17px) saturate(50%);
    border: 1px solid rgba(0,0,0,0.045);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: sticky;
    top:0;
}

.header .links{
    box-sizing: border-box;
    display: flex;
    padding: 3px;
    margin:0;
    align-self: center;
    min-width: 190px;
    gap: 10px;
    margin-right: 15px;
}

.links li{
    flex:1;
    list-style: none;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.links a{
    color: #F8F8FF;
    text-decoration: none;
}

.header .logo{
    align-self: center;
}

/* HERO CONTENT */

.bio{
    color:rgba(50, 235, 17, 0.4)
}

.hero-content{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
}

.leftside{
    flex:3 1 60%;
    display: flex;
    flex-direction: column;
}
.leftside h1, .leftside p{
    margin:0;
    font-size: 5em;
    background-image: url(plasticBg.jpeg);
    color:rgba(238, 228, 228, 0.414);
    background-clip: text;
    animation: bgMove 15s linear infinite;
}
@keyframes bgMove{
    0%{
        background-position: -50%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}


.leftside p{
    margin-top: 10px;
    color: rgba(232, 241, 232, 0.558);
    font-size: 1.5em;
}

/* CARD CONTENT */

.card-content{
    background-color: rgb(0,0,0);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border: 2px solid white;
    height: 60vh;
    gap: 20px;
}
.card-content .card-title{
    margin:0;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
.card-content .cards{
    display: flex;
    border: 2px solid white;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    flex:1;
    padding:0;
}
.cards li{
    border: 2px solid white;
    list-style: none;
    flex:1;
    min-width: 150px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}



