body{
    background-color: #000000;
    color:#eeee;
    display: flex;
    flex-direction: column;
    margin:0;
    height: 100%;
    font-family: Roboto, sans-serif, Helvetica;
}

body > *{
    box-sizing: border-box;
    margin:0;
}

/* LINKS */

.link, .link>a{
    color: #eeee;
}
.link{
    list-style: none;
}
.link>a{
    text-decoration-line: none;
}

/* HEADER */

.header{
    height: 100px;
    background-color: #6e3636;
    display: flex;
    box-sizing: border-box;
    color:#ffffff;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(154, 88, 88, 0.844);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header .rightside{
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-right: 10px;
    justify-content: flex-start;
}

.rightside .user-logo{
    max-width: 49px;
    min-width: 49px;
    max-height: 49px;
    min-height: 49px;
    align-self: center;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgb(147, 120, 168);
    border: 1px solid rgb(84, 62, 105);
    cursor: pointer;
}

.rightside .search{
    max-width: 100px;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    height: 35%;
    flex: 1;
    align-items: center;
    border-radius: 10px;
    color:white;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    gap: 5px;
    cursor: pointer;
}

.search .search-line{
    margin-top: 10px;
    border-bottom: 1px solid white;
    flex: 1;
    display: flex;
    justify-content: center;
}

.search .search-icon{
    font-weight: bold;
    font-size: larger;
}

.header .leftside{
    flex:1;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    gap: 10px;
    border-top: 0;
}
.leftside .logo{
    align-self: center;
    font-size: larger;
}
.leftside .main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CONTENT */

.content{
    display: flex;
}
.content .right-content{
    order: 2;
    box-sizing: border-box;
    padding: 40px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.content .left-content{
    background-color: #34261e;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 50px;
    width: 20%;
    font-size: small;
}
.content .left-content .links{
    padding:0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}
.right-content .subtitle{
    font-size: 2em;
}